body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #B3D8A8;
}

.project-container {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 24%) );
    grid-template-rows: repeat(auto-fit, minmax(250px, 25%) );
    gap: 15px;
    border: solid 3px #578E7E;
    border-radius: 20px;
   }

.bookContainer {
    height: 200px;
    background-color: #FBFFE4;
    border-radius: 10px;
    border-left: 10px solid #3D8D7A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.title {
  font-size: 24px;
  margin: 10px;
  border-bottom: 3px solid #3D8D7A;
}

.author {
  margin-left: 10px;
  font-size: 16px;
}

.actions {
  display: flex;
  justify-content: end;
}

.removeButton {
  background-color: #8e5957;
  color: rgb(247, 219, 219);
  font-size: medium;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 10px;
}

.readButton {
  color: rgb(246, 232, 232);
  font-size: medium;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 10px;
  margin-left: 20px;
}

.button {
    height: 60px;
    width: 100%;
}

.new-book {
  background-color: #3D8D7A;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 180px;
  border-radius: 20px;
  font-size: medium;
}

.form-popup {
  display: none;
  z-index: 9;
}

.form-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    gap: 30px;
    padding-left: 12px;
    padding-top: 12px;
    border-radius: 20px;
}

.form-container input[type=text], .form-container input[type=number] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #FBFFE4;
  border-radius: 10px;
}

.form-container input[type=text]:focus, .form-container input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  font-size: medium;
  background-color: #538b4b;
  color: white;
  border: none;
  cursor: pointer;
  width: 80%;
  height: 50%;
  margin-bottom:10px;
  opacity: 0.8;
  margin-top: 23px;
  border-radius: 10px;
}

.form-container .cancel {
  background-color: #dc5f5a;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
